<div id="header">
  <a routerLink="/" routerLinkActive="active" class="logo"><span>LS</span></a>
  <div class="search-bar">
    <div class="input-group">
    <span id="city_box">
      <i class="material-icons">&#xE0C8;</i>
      <input class="us-city" autocomplete="OFF" placeholder="Saint-Petersburg" type="text">
    </span>
      <div class="auto-comp">
        <input class="form-control" placeholder="What? e.g Restaurants,Movies" type="text">
        <button type="button"><i class="material-icons">&#xE8B6;</i></button>
      </div>
    </div>
  </div>
  <div class="registration">
    <span routerLink="/profile" *ngIf="currentUser">{{currentUser.username}}</span>
    <a *ngIf="currentUser" class="material-icons" (click)="LogOut()">&#xE890;</a>
    <a *ngIf="!currentUser" class="material-icons" (click)="Registration()">&#xE890;</a>
  </div>
</div>


