<div id="header">
  <a routerLink="/" routerLinkActive="active" class="logo"><span>LS</span></a>
  <div class="search-bar">
    <div class="input-group">
    <span id="city_box">
      <i class="material-icons">&#xE0C8;</i>
      <span class="us-city">Санкт-Петербург</span>
    </span>
      <div class="auto-comp">
        <input [(ngModel)]="value" class="form-control" placeholder="Что искать?(ресторан, кинотеатр)" type="text">
        <button type="submit" [routerLink]="['places', value]" routerLinkActive="active"><i class="material-icons pointer">&#xE8B6;</i></button>
      </div>
    </div>
  </div>
  <div class="registration">
    <span class="pointer" routerLink="/profile" *ngIf="currentUser">{{currentUser.username}}</span>
    <a *ngIf="currentUser" class="material-icons pointer" (click)="LogOut()">&#xE890;</a>
    <a *ngIf="!currentUser" class="material-icons pointer" (click)="Registration()">&#xE890;</a>
  </div>
</div>


