<div id="header">
  <a routerLink="/" routerLinkActive="active" class="logo"><span>LS</span></a>
  <div class="search-bar">
    <div class="input-group">
    <span id="city_box">
      <i class="material-icons">&#xE0C8;</i>
      <input class="us-city" autocomplete="OFF" placeholder="Saint-Petersburg" type="text">
      <div class="city">
        <div class="list-city">
          <span>
            <ul>
              <li><span class="compname">Moscow</span></li>
              <li><span class="compname">Samara</span></li>
              <li><span class="compname">Volgograd</span></li>
              <li><span class="compname">Sochi</span></li>
              <li><span class="compname">Tver</span></li>
            </ul>
          </span>
        </div>
      </div>
    </span>
      <div class="auto-comp">
        <input class="form-control" placeholder="What? e.g Restaurants,Movies" type="text">
        <button type="button"><i class="material-icons">&#xE8B6;</i></button>
      </div>
    </div>
  </div>
  <div class="registration">
    <span routerLink="/profile" *ngIf="currentUser">{{currentUser.username}}</span>
    <a *ngIf="currentUser" class="material-icons" (click)="LogOut()">&#xE890;</a>
    <a *ngIf="!currentUser" class="material-icons" (click)="Registration()">&#xE890;</a>
  </div>
</div>


