:host{
  display: flex;
}
.places{
  margin: 10px;
  overflow: scroll;
  height: 550px;
  width: 300px;
}
.place{
  border: solid 1px grey;
  margin: 5px;
  padding: 10px;
}
button{
  background: #D94E67;
  border: 0 none;
  border-radius: 5px 5px 5px 5px;
  color: #fff;
  height: 50px;
  width: 295px;
  margin: 5px 5px -10px 15px;
  outline: none;
}
