<masonry>
    <masonry-brick class="col" ontouchstart="this.classList.toggle('hover');" *ngFor="let item of HotKeyArray">
      <div class="container">
        <div class="front" [ngStyle]="{'background-image': 'url(' + item.url + ')'}">
          <div class="inner">
            <p>{{item.text}}</p>
            <span>Lorem ipsum</span>
          </div>
        </div>
        <div class="back">
          <div class="inner">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum repellat velit quae suscipit c.</p>
          </div>
        </div>
      </div>
    </masonry-brick>
</masonry>
